PORT=5000

# Nodemailer configuration for certificate dispatch
ADMIN_EMAIL=auth.designaurastudios@gmail
ADMIN_APP_PASSWORD=zwom xmha lkfe ypqn

# AES Encryption Master Key (32 bytes / 64 hex chars)
AES_SECRET_KEY=e4d9b28a7c1f03e659b8a1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2

# Firebase Spark (Free Plan) Configuration
FIREBASE_PROJECT_ID=cert-secure-spark-demo
# FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
